page-video {

.card-header-md {
    color: #fff;
    text-align: center;
}

ion-card-header {
    background-color: #00a857;
    border-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}


}
